body {
	font-family: Arial, "MS Trebuchet", sans-serif;
	width: 800px;
	margin: 50px auto;
}

p, h4, h1 {	
	padding: 10px;
}

h1,
div#invoer,
div.sterrenbeeld {
	text-align: center;
}

label {
	width: 60px;
	display: inline-block;
}

input.error {
	border: 1px solid #f00;
}

p span {
	font-size: 12px;
	display: block;
	clear: both;
}

div.sterrenbeeld {
	display: none;
}

.tooltip {
    margin: 8px;
    padding: 8px;
    border: 1px solid #000;
    background-color: #CCC;
    position: absolute;
    z-index: 2;
}